@media only screen and (max-width: 800px) {
    body {
        display: flex;
        flex-direction: column;
    }
    #left_box {
        width: 100%;
        height: 100vh;

        overflow-y: hidden;
    }
    #right_box {
        width: 100%;
        height: 100vh;
        overflow-y: hidden;
    }

    #false_nav_list {
        visibility: visible;
    }
    #nav_list {
        position: fixed;
        width: 100vw;
        padding-bottom: 15%;
    }

    #left_box_list {
        margin-top: 10%;
    }

    #left_box_list h1 {
        font-size: 3em;
    }
    #left_box_list h3 {
        font-size: 2em;
    }

    #skills_nav_list {
        margin-top: 15%;
    }

    #left_box_list p {
        font-size: 1.5em;

        padding-left: 10%;
        padding-right: 10%;
        padding-bottom: 30%;
    }

    #project_bottom_list p {
        text-align: center;
        
        font-size: 1.5em;
        padding-left: 10%;
        padding-right: 10%;
    
        margin-bottom: 10%;
    }

    #p_item_image {
        display: none;
    }
}
