
@media only screen and (min-width: 801px) {
    body {
        display: flex;
        flex-direction: row;
    }
    
    #left_box {
        width: 35%;
    }
    #right_box {
        width: 65%;
    }



}
