




@keyframes in_leftBoxDrop {
    0% {
        transform: translate(0px, -2000px);
    }
    100% {
        transform: translate(0px, 0px);
    }

}
#left_box {
    animation-name: in_leftBoxDrop;
    animation-fill-mode: backwards;
    animation-timing-function: cubic-bezier(0.04, 0.41, 0.18, 1);
    animation-duration: 1s;

    /* https://www.cssportal.com/css-cubic-bezier-generator/ */
}


#left_box {
    display: flex;
    flex-direction: column;
    justify-content: end;
}


#left_box_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30%;
}
#left_box_list img {
    width: 40%;
}



#left_box_list h1 {
    font-size: 4em;

    margin-top: 2%;
    margin-bottom: 2%;

    text-align: center;
}
#left_box_list h3 {
    font-size: 2.5em;

    margin-top: 5px;
    margin-bottom: 10%;

    text-align: center;
}

#contact_icon_list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

#left_box_list p {
    font-size: 1.5em;

    padding-left: 20%;
    padding-right: 20%;

    text-align: center;
}

#false_nav_list {
    height: 10%;
}

#false_nav_list {
    visibility: hidden;
}

#nav_list {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10%;
}
#nav_list p {
    font-size: 1.3em;

    cursor: pointer;
}