

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(241, 241, 0%, 0); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #4c5456; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(123, 123, 123)93b; 
  }