#project_top_list h2 {
    color: #DCDFDC;
}
#project_top_list h4 {
    color: #484E4F;
}
#project_bottom_list p {
    color: #9D9D9D;
}

#project #item_image {
    background-color: rgb(46, 53, 53);
    background-image: url("../img/me2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
/* beep */