#left_box {
    background-color: #31393b;
}


#nav_list {
    background-color: #31393b;
    /* background-color: #60b6c9; */
}


#left_box_list h1 {
    color: #a7ed95;
}
#left_box_list h3 {
    color: #525c5f;
}
#left_box_list p {
    color: #c2c8bc;
}
/* #left_box_list img {
    width: 30%;
} */